Repository desaianand1/PokeBoids: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm install --lockfile-only

.lintstagedrc.json:

{
  "*.{js,ts,svelte}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml,css}": [
    "prettier --write"
  ],
  "package.json": [
    "pnpm install --lockfile-only"
  ]
}

fix: resolve TypeScript interface compliance issues
  src/lib/boid/boid-behavior.ts
  src/lib/interfaces/index.ts
  tests/utils/mock-boid.ts
Due: eslint --fix, prettier --write

test: fix test suite failures and improve test reliability
  src/lib/boid/behaviors/boundary-avoidance-behavior.test.ts
  src/lib/boid/flock-logic.test.ts
  src/lib/boid/types.test.ts
  tests/implementations/events.test.ts
  tests/implementations/vector.ts
Due: eslint --fix, prettier --write

refactor: improve code quality and type safety
  src/lib/boid/animation/animation-controller.ts
  src/lib/boid/benchmarks/spatial-partitioning-benchmark.ts
  src/lib/game/scenes/game.ts
  src/lib/game/scenes/preloader.ts
Due: eslint --fix, prettier --write

feat: update components for Svelte 5 compliance
  src/lib/components/PhaserGame.svelte
  src/lib/components/ThemeSwitcher.svelte
  src/lib/components/event-debug/EventDebugPanel.svelte
  src/lib/components/event-debug/EventDetails.svelte
  src/lib/components/event-debug/EventList.svelte
  src/lib/components/shared/SidebarContent.svelte
  src/lib/components/simulation/SimulationPanel.svelte
  src/lib/components/ui/slider/slider.svelte
  src/lib/components/ui/sonner/sonner.svelte
  src/routes/+page.svelte
Due: eslint --fix, prettier --write

docs: update project memory with commit guidelines
  .npmrc
  docs/claude/CLAUDE.md
Due: prettier --write

feat: add UUID utility module for unique ID generation
  src/lib/utils/uuid.ts
Due: eslint --fix, prettier --write

fix: resolve duplicate key errors in Svelte components
  src/lib/boid/boid-behavior.ts
  src/lib/components/ThemeSwitcher.svelte
  src/lib/components/ui/slider/slider.svelte
  tests/utils/mock-boid.ts
Due: eslint --fix, prettier --write

fix: resolve Svelte reactivity issues in event aggregation
  src/lib/components/event-debug/EventDebugPanel.svelte
  src/lib/components/event-debug/EventList.svelte
Due: eslint --fix, prettier --write

fix: improve event details UI layout and UUID display
  src/lib/components/event-debug/EventDetails.svelte
Due: eslint --fix, prettier --write

feat: enhance UI component transitions and styling
  src/lib/components/ui/badge/badge.svelte
  src/lib/components/ui/button/button.svelte
  src/lib/components/ui/popover/index.ts
  src/lib/components/ui/popover/popover-content.svelte
Due: eslint --fix, prettier --write

feat: improve simulation panel UX and branding
  src/lib/components/boid-config/BoidConfigPanel.svelte
  src/lib/components/shared/SidebarContent.svelte
  src/lib/components/simulation/PlaybackControls.svelte
  src/lib/components/simulation/SimulationPanel.svelte
Due: eslint --fix, prettier --write

fix: downgrade bits-ui to resolve Svelte 5 compatibility
  package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm install --lockfile-only

docs(README): removed dupe README and fixed content and formatting, improved crediting
  README.md
  docs/README.md
Due: prettier --write

feat: improve sprite origin positioning and animation handling
  src/assets/sprites/sprite-config.json
  src/lib/boid/animation/animation-controller.ts
  src/lib/boid/phaser-boid.ts
  src/lib/components/shared/SidebarContent.svelte
  src/lib/components/shared/TabInfoPopover.svelte
  src/lib/components/simulation/FlavorControls.svelte
  src/lib/components/simulation/SimulationPanel.svelte
  src/lib/game/managers/debug-manager.ts
  src/lib/game/scenes/preloader.ts
Due: eslint --fix, prettier --write

build: add vitest coverage-v8 dependency
  package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm install --lockfile-only

feat: improve TypeScript interfaces with composition pattern
  src/lib/interfaces/boid.ts
  src/lib/interfaces/vector.ts
Due: eslint --fix, prettier --write

fix: update vector implementation to match interface
  src/lib/adapters/phaser-vector.ts
Due: eslint --fix, prettier --write

fix: eliminate unknown types in sprite loading system
  src/lib/boid/animation/sprite-manager.ts
  src/lib/game/scenes/preloader.ts
Due: eslint --fix, prettier --write

fix: resolve remaining TypeScript compilation errors
  src/lib/boid/animation/animation-controller.ts
  src/lib/boid/phaser-boid.ts
  src/lib/game/scenes/game.ts
Due: eslint --fix, prettier --write

feat: consolidate CI/CD workflows with proper gating
  .github/workflows/ci-cd.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
Due: prettier --write

chore: update project metadata and coverage settings
  .gitignore
  src/app.html
Due: none

feat: improve sidebar footer layout for mobile devices
  src/lib/components/shared/SidebarContent.svelte
Due: eslint --fix, prettier --write

chore: exclude test coverage files from git
  .gitignore
Due: none

docs: fix README CI badge
  docs/README.md
Due: prettier --write

refactor: default boid config now 80-20 count for pred-prey
  src/lib/config/simulation-signals.svelte.ts
Due: eslint --fix, prettier --write

fix: footer UI now looks better on mobile
  src/lib/components/shared/SidebarContent.svelte
Due: eslint --fix, prettier --write

ci(semantic-release): prevent lintstaged from running during semantic-release on CI
  .releaserc.json
Due: prettier --write

fix(ci): resolve semantic-release hook conflicts
  .github/workflows/ci-cd.yml
  .husky/install.mjs
  .releaserc.json
  package.json
Due: prettier --write, pnpm install --lockfile-only

fix(assets): migrate to SvelteKit asset processing pattern
  src/assets/sprites/sprite-config.json
  src/lib/assets/day-sky-alt.jpg
  src/lib/assets/day-sky.jpg
  src/lib/assets/day-water.png
  src/lib/assets/night-sky.jpg
  src/lib/assets/predator.png
  src/lib/assets/prey.png
  src/lib/assets/sprites/air/predator/crobat/AnimData.xml
  src/lib/assets/sprites/air/predator/crobat/Attack-Anim.png
  src/lib/assets/sprites/air/predator/crobat/Attack-Offsets.png
  src/lib/assets/sprites/air/predator/crobat/Attack-Shadow.png
  src/lib/assets/sprites/air/predator/crobat/Hurt-Anim.png
  src/lib/assets/sprites/air/predator/crobat/Hurt-Offsets.png
  src/lib/assets/sprites/air/predator/crobat/Hurt-Shadow.png
  src/lib/assets/sprites/air/predator/crobat/Walk-Anim.png
  src/lib/assets/sprites/air/predator/crobat/Walk-Offsets.png
  src/lib/assets/sprites/air/predator/crobat/Walk-Shadow.png
  src/lib/assets/sprites/air/prey/zubat/AnimData.xml
  src/lib/assets/sprites/air/prey/zubat/Attack-Anim.png
  src/lib/assets/sprites/air/prey/zubat/Attack-Offsets.png
  src/lib/assets/sprites/air/prey/zubat/Attack-Shadow.png
  src/lib/assets/sprites/air/prey/zubat/Hurt-Anim.png
  src/lib/assets/sprites/air/prey/zubat/Hurt-Offsets.png
  src/lib/assets/sprites/air/prey/zubat/Hurt-Shadow.png
  src/lib/assets/sprites/air/prey/zubat/Walk-Anim.png
  src/lib/assets/sprites/air/prey/zubat/Walk-Offsets.png
  src/lib/assets/sprites/air/prey/zubat/Walk-Shadow.png
  src/lib/assets/sprites/sprite-config.json
  src/lib/boid/animation/sprite-manager.ts
  src/lib/game/scenes/preloader.ts
  svelte.config.js
Due: eslint --fix, prettier --write

refactor(assets): migrate to static directory for production compatibility
  src/lib/game/scenes/preloader.ts
  static/assets/day-sky-alt.jpg
  static/assets/day-sky.jpg
  static/assets/day-water.png
  static/assets/night-sky.jpg
  static/assets/predator.png
  static/assets/prey.png
  static/assets/sprites/air/predator/crobat/AnimData.xml
  static/assets/sprites/air/predator/crobat/Attack-Anim.png
  static/assets/sprites/air/predator/crobat/Attack-Offsets.png
  static/assets/sprites/air/predator/crobat/Attack-Shadow.png
  static/assets/sprites/air/predator/crobat/Hurt-Anim.png
  static/assets/sprites/air/predator/crobat/Hurt-Offsets.png
  static/assets/sprites/air/predator/crobat/Hurt-Shadow.png
  static/assets/sprites/air/predator/crobat/Walk-Anim.png
  static/assets/sprites/air/predator/crobat/Walk-Offsets.png
  static/assets/sprites/air/predator/crobat/Walk-Shadow.png
  static/assets/sprites/air/prey/zubat/AnimData.xml
  static/assets/sprites/air/prey/zubat/Attack-Anim.png
  static/assets/sprites/air/prey/zubat/Attack-Offsets.png
  static/assets/sprites/air/prey/zubat/Attack-Shadow.png
  static/assets/sprites/air/prey/zubat/Hurt-Anim.png
  static/assets/sprites/air/prey/zubat/Hurt-Offsets.png
  static/assets/sprites/air/prey/zubat/Hurt-Shadow.png
  static/assets/sprites/air/prey/zubat/Walk-Anim.png
  static/assets/sprites/air/prey/zubat/Walk-Offsets.png
  static/assets/sprites/air/prey/zubat/Walk-Shadow.png
  static/assets/sprites/sprite-config.json
  svelte.config.js
Due: eslint --fix, prettier --write

style(favicon): added pidgeotto-based favicon
  src/app.html
  static/favicon.ico
Due: none

chore: removed old Sveltekit default favicon
  static/favicon.png
Due: none

chore: artificially bump minor version to catch-up
  .lintstagedrc.json
  package.json
  src/app.html
  src/lib/utils/version.ts
Due: eslint --fix, prettier --write, pnpm install --lockfile-only

chore: renamed and fixed asset dir structure
  src/lib/game/scenes/preloader.ts
  static/assets/day-sky-alt.jpg
  static/assets/day-sky.jpg
  static/assets/default-predator.png
  static/assets/default-prey.png
  static/assets/logo.png
  static/assets/night-sky.jpg
  static/assets/splash-dark.png
  static/assets/splash-light.png
  static/assets/sprites/air/background/bg-dark.png
  static/assets/sprites/air/background/bg-light.png
  static/assets/sprites/air/predator/crobat/Attack-Offsets.png
  static/assets/sprites/air/predator/crobat/Hurt-Offsets.png
  static/assets/sprites/air/predator/crobat/Walk-Offsets.png
  static/assets/sprites/air/prey/zubat/Attack-Offsets.png
  static/assets/sprites/air/prey/zubat/Hurt-Offsets.png
  static/assets/sprites/air/prey/zubat/Walk-Offsets.png
  static/assets/sprites/water/background/bg-light.png
Due: eslint --fix, prettier --write

fix: ammend bg preloader path
  src/lib/game/scenes/preloader.ts
Due: eslint --fix, prettier --write

style: improved flavor toggle look; removed outdated panel
  src/lib/components/shared/InfoCollapsible.svelte
  src/lib/components/simulation/FlavorControls.svelte
Due: eslint --fix, prettier --write

feat: implement professional splash screen with real-time loading
  src/lib/boid/animation/animation-controller.ts
  src/lib/game/index.ts
  src/lib/game/scenes/boot.ts
  src/lib/game/scenes/preloader.ts
  src/lib/game/scenes/splash.ts
Due: eslint --fix, prettier --write

style: changed Phaser default bg to black for scene transitions
  src/lib/game/index.ts
Due: eslint --fix, prettier --write

fix(ci): use PAT for semantic-release to enable GitHub Pages deployment
  .github/workflows/ci-cd.yml
Due: prettier --write

fix(ci): remove persist-credentials false to enable PAT authentication
  .github/workflows/ci-cd.yml
Due: prettier --write
